version: "3.9"

services:
  webapp:
    build:
      context: ./webapp
      dockerfile: Dockerfile_webapp
    ports:
      - "5000:5000"

  selenium_tests:
    build:
      context: .
      dockerfile: selenium_tests/Dockerfile_seleniumtest
    depends_on:
      - webapp
